[submodule "library-sp21"]
	path = library-sp21
	url = https://github.com/Berkeley-CS61B/library-sp21
[submodule "hw0/lab01-checkoff"]
	path = hw0/lab01-checkoff
	url = https://github.com/Berkeley-CS61B/library-sp21
